.header {
    /* background: white; */
    background-color: white;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
    /* background: #fff; */
    background-color: white;
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: white; */
    background-color: white;
}

.header__logo {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.header-utilities nav {
    width: 18%;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav__link {
    color: black;
    text-decoration: none;
}

.header-nav__button {
    border: none;
    background: transparent;
    color: black;
    font-size: 16px;
    cursor: pointer;
}

/* .form {
    color: black;
} */