.attendance__button,
rest__button {
    width: 100%;
    text-align: center;
}

.previous__day__button-submit,
.next__day__button-submit {
    padding: 5px;
    width: 10%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
    vertical-align: center;
}

.attendance__date__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.attendance__alert--success {
    padding: 10px 30px;
    border-color: #badbcc;
    background-color: #d1e7dd;
    color: #0f5132;
}

.attendance__alert--danger {
    padding: 10px 0;
    border-color: #f5c2c7;
    background-color: #f8d7da;
    color: #842029;
}

.attendance__alert--danger ul {
    margin: 0;
}

.attendance__alert {
    width: 30%;
    margin: 0 auto;
}

.list-table__item {
    width: 30%;
}